.CenterBlock{
        width:10%;
        max-width: 1200px;
        min-width: 300px;
        min-height:200px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-100px 0 0 -150px;
        padding-bottom: 15px;
    }
.full{
  border:1px solid #7a8585;
  background: #bfc4c4;
}
.wall{
  width: 100%;
  position:absolute;
  top:50%;
  margin-top: -150px;
  background: #fff;
}
input, label{
  width: 75%;
  display: block;
  padding: 5px;
  margin-left: 10%;
}
button{
  display: block;
  margin: 10px 0 0 10%;
  padding: 5px 15px;
  border: 2px solid #0ae487;
  background: #fff;
}
button:hover {
background: #0ae487;
color: #fff;
}
.select_date_day_birthday{
  margin: 10px 0 0 10%;
}
a {
  text-decoration: none;
}
.UserFigure {
  min-height: 200px;
  font-size: 10em;
}
#button2{
  margin-left: 47.5%;
  padding: 5px 20px;

}
.button_minus{
  margin: 0 2px 0 47.5%;
  float: left;
}
.button_plus{
margin: 0;
}
